/3DBeginner/obj
/3DBeginner/Library
/3DBeginner/Logs
/3DBeginner/*.csproj
/3DBeginner/.vs/black_forest/v16/*.suo
/3DBeginner/*.sln
/3DBeginner/Temp
/3DBeginner/c
/3DBeginner/.vs
/3DBeginner/Assets/AccountData.txt
/TankWar/obj
/TankWar/Library
/TankWar/Logs
/TankWar/*.csproj
/TankWar/.vs/black_forest/v16/*.suo
/TankWar/*.sln
/TankWar/Temp
/TankWar/c
/TankWar/.vs
/TankWar/Assets/AccountData.txt
/NewTankWar/obj
/NewTankWar/Library
/NewTankWar/Logs
/NewTankWar/*.csproj
/NewTankWar/.vs/black_forest/v16/*.suo
/NewTankWar/*.sln
/NewTankWar/Temp
/NewTankWar/c
/NewTankWar/.vs
/NewTankWar/Assets/AccountData.txt